# Database
# Railway MySQL connection URL 입력
# 형식: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:비밀번호@호스트:포트/railway"

# Server
PORT=3000

# MQTT (나중에 사용)
MQTT_BROKER_URL="mqtt://localhost:1883"